                <ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}

                {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="current_tab"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                {% endif %}

                {% if DISPLAY_PAGES_ON_MENU -%}
                {% if not PAGES_SORT_ATTRIBUTE -%}
                    {% set PAGES_SORT_ATTRIBUTE = 'title' %}
                {% endif %}
                {% for pg in pages | sort(attribute=PAGES_SORT_ATTRIBUTE) %}
                    {% if 'http://' in pg.url -%}
                        <li><a href="{{ pg.url }}">{{ pg.title }}</a></li>
                    {% else %}
                        <li {% if pg == page %} class="current_tab"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                    {% endif %}
                {% endfor %}
                {% endif %}
                </ul>
