div.comments_section {
    font-size:10pt;
    margin-left:5px;
}

div.comments_section .comments_heading {
    font-size:12pt;
    margin-top:15px;
}

div.comments_section blockquote {
    margin-left:10px;
}

div.comments_section p, dl {
    margin-left:0px;
}

div.comments_section dt {
    font-weight:bold;
}

#id_honeypot, label[for=id_honeypot] {
    display:none;
}
