{% extends 'base.html' %}

{% load static %}
{% load blog_extras %}
{% load custom_tags %}

{% block title %}Sam Frances | Blog {% block blogpage_title %}{% endblock %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/blog.css" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}prettify/sons-of-obsidian.css" />
{% endblock %}

{% block javascript_in_head %}
<script type="text/javascript" src="{% get_static_prefix %}prettify/prettify.js"></script>
<script type="text/javascript">
window.onload = prettyPrint;
</script>
{% endblock %}

{% block navtabs %}
    {% define 'blog' as current_tab %}
    {{ block.super }}
{% endblock %}

{% block sidebar_content %}
    
    {% get_blog_vars as blog %}

    <h3>Archives</h3>
    
    <ul>
    {% for date in blog.months %}

        <li><a href="/blog/{{ date.year }}/{{ date.month }}/">{{ date|date:"F Y" }}</a></li>

    {% endfor %}
    </ul>

    <h3>Categories</h3>

    <p> 
    {% for tag in blog.categories %}{% if not forloop.first %}, {% endif %}<a href="/blog/tag/{{ tag.name }}/">{{ tag.name }}</a>{% endfor %}
    </p>
    
    <h3>Feeds</h3>
    
    <p><a href="/blog/feeds/rss/"><img src="{% get_static_prefix %}images/feed.png" alt="RSS feed" /></a> <a href="/blog/feeds/rss/">RSS</a><br />
    <a href="/blog/feeds/atom/"><img src="{% get_static_prefix %}images/feed.png" alt="RSS feed" /></a>
    <a href="/blog/feeds/atom/">Atom</a></p>

    <h3>Blogroll</h3>
    
    <p><a href="http://xoph.co/">Xophmeister's World</a></p>

{% endblock %}
