@import url("pygment.css");

html {
	height:100%;		/* boiler-plate code to enable the main div to fill the screen height */
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;		/* boiler-plate code to enable the main div to fill the screen height */
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
}

p, h1, h2, h3, h4, h5, footer {
	margin-top:10px;
	margin-bottom:15px;
	margin-left:5px;
	margin-right:5px;
}

h1, h2, h3, h4, h5 {
    color:#3ec008;
}

h1 {
    font-size:25px;
}

hr {
    background-color:#3ec008;
    border:0px;
    height:3px;
    margin-top:35px;
}

img {
    border:none;
}

a:link {text-decoration:none;color:#0000ff;}
a:visited {text-decoration:none;color:#0000ff;}
a:hover {text-decoration:underline;color:#0000ff;}		/* Link rollovers */
a:active {text-decoration:underline;color:#0000ff;}

div {
	-moz-box-sizing:border-box;		/* Changes how the box-size is calculated. Adding padding or border does not add to the size of the box */
	-webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0px;
}

/* for code tables */
table {width: 100%;}

table.highlighttable, .highlight {
    font-size:12px;
}

td.linenos {
    width:10px;
}

/* inline code */

code {
    font-size:smaller;
    background-color:#f7f7f7;
    padding:3px;
}

#wrapper {			/* div to hold other elements and center them */
	background-color:none;
	padding:0px;
	margin-left:auto;
	margin-right:auto;	/* this centres the #wrapper div */
	width:900px;
	min-height:100%;	/* This makes the #wrapper div fill at least 100% of the screen height, but extend itself as needed */
	-moz-box-shadow:    1px 0px 20px 12px #ccc;	/* Shadow on mozilla */
  	-webkit-box-shadow: 1px 0px 20px 12px #ccc;	/* Shadow on webkit-based browsers (i.e. Safari) */
  	box-shadow:         1px 0px 20px 12px #ccc;	/* CSS3 drop-shadow */
}

#header {
	font-family:Arial;
	color:#3ec008;
	width:100%;
	height:100px;
}

#nav {
	background-color:#3ec008;
	padding:11px 20px;
	color:#FFFFFF;
	width:100%;
	height:30px;
}

#nav > ul {
	list-style:none;
	display:inline;
	margin:0px;
	padding:0px;
}

#nav > ul > li {				/* Navigation tabs */
	margin:0px;
	display:inline;
	background-color:#7fd25e;
	padding:4px 0px 0px 0px;
	padding-bottom:0px;
	border-style: solid;
	border-width:0px;
	border-color:gray;
	border-bottom-width:0px;
	-moz-border-radius-topright:5px;			/* Mozilla rounded corners */
	-moz-border-radius-topleft:5px;
	border-top-right-radius:5px;				/* CSS3 rounded corners */
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;			/* Chrome and Safari rounded corners */
	-webkit-border-top-left-radius:5px;
	-khtml-border-radius-topright:5px;			/* some older browsers */
	-khtml-border-radius-topleft:5px;
	text-align:center;
	font-size:12pt;
}

#nav > ul > li.current_tab, #nav > ul > li:hover  {				/* Navigation tabs rollovers */
	background-color:#FFFFFF;
	color:#000000;
	background-image:none;
	border-bottom-width:none;
	border-bottom-color:white;
	border-bottom-width:3px;
}

#nav ul > li > a {				/* Determines nav-link colour and removes underlining */
	color:#000000;
	text-decoration:none;
    padding:4px 20px 4px 20px;  /* fills all of <li>, so that whole tab is clickable */
}

#logo {
	text-align:center;		/* To centre the image contained in this div (and any text, if present) */
	padding-top:10px;
	float:left;			/* This enables the 2 divs in the header to sit next to each other */
	width:12%;
	height:90px;
}

#banner {
	float:left;			/* This enables the 2 divs in the header to sit next to each other */
	width:%;
	height:100%;
}

#banner h1 {
    font-family:'Courier New', Arial;
	margin-top:35px;
	font-size:25px;
	font-weight:normal;
}

#main {
	background-color:none;	/* Change this to change the sidebar background color */
	overflow:hidden;		/* makes div stretch around contained floated divs */
	width:100%;
	min-height:600px;
}

#sidebar {
	padding:12px 15px 5px 15px;
	float:left;
	width:25%;
	height:100%;
	font-size:10pt;
}

#content {
	background-color:#FFFFFF;		/* 'white' rather than 'none', so that the #main background-color can be used to set sidebar colour */
	float:left;
	width:75%;
	height:100%;
	padding:5px 15px 5px 15px;
}

#footer {
	border-top:10px solid #3ec008;
	margin-top:10px;
	padding:5px 15px 5px 15px;
	min-height:50px;
	width:100%;
}

#footer span:first-child {			/* float:right applies to any span tag which is the first child of #footer */
	float:right;
}

.highlight pre {
	padding: 10px;
}
