			    <ul>
			        <li {% ifequal current_tab 'home' %}id="current_tab"{% endifequal %}><a href="/">Home</a></li>
			        <li {% ifequal current_tab 'portfolio' %}id="current_tab"{% endifequal %}><a href="/portfolio/">Portfolio</a></li>
			        <li {% ifequal current_tab 'blog' %}id="current_tab"{% endifequal %}><a href="/blog/">Blog</a></li>
			        {% comment %}<li {% ifequal current_tab 'contact' %}id="current_tab"{% endifequal %}><a href="">Contact</a></li>{% endcomment %}
			    </ul>
